@import "tailwindcss";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-zinc-200, currentColor);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter Tight", "Inter", Arial, Helvetica, sans-serif;
}

@layer utilities {
  table {
    @apply min-w-80 w-full max-w-md text-sm text-left rtl:text-right border dark:border-zinc-800 border-zinc-200 rounded-xl;
  }

  th {
    @apply text-xs bg-zinc-50/50 dark:bg-zinc-950/50 text-zinc-500 dark:text-zinc-400 font-semibold uppercase;
  }

  th,
  td {
    @apply px-6 py-3;
  }

  thead tr {
    @apply bg-zinc-100 dark:bg-zinc-900 border-b dark:border-zinc-800 border-zinc-200 whitespace-nowrap;
  }

  tbody tr {
    @apply odd:bg-white  odd:dark:bg-zinc-950 even:bg-zinc-50 even:dark:bg-zinc-900/50 last:border-none border-b dark:border-zinc-800 border-zinc-200;
  }

  .code-element {
    @apply font-mono px-1 py-0.5 bg-zinc-100 dark:bg-zinc-900 border border-zinc-200 dark:border-zinc-800 rounded-sm;
  }
}
